/* base classes */
.inline-block-class{
	display: inline-block;
	vertical-align: middle;
}
/* base classes */

.header{
	background-color: green;
}
.logo{
	width: 200px;
}
.header-container{
	max-width: 1170px;
	width: 100%;
	background-color: white;
	margin: 0 auto;
}

.list{
	font-family: "RobotoRegular";
	color: #3D58A6;
}