/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?mqwaaz");
  src: url("../fonts/icomoon.eot?mqwaaz#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mqwaaz") format("truetype"), url("../fonts/icomoon.woff?mqwaaz") format("woff"), url("../fonts/icomoon.svg?mqwaaz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-g:before {
  content: "\e900";
  color: #3d58a6; }

.icon-fb_1:before {
  content: "\e901";
  color: #3d58a6; }

.icon-logo:before {
  content: "\e902";
  color: #ee4036; }

.icon-youtube_1:before {
  content: "\e903";
  color: #3d58a6; }

.icon-search:before {
  content: "\e904";
  color: #ee4036; }

@-webkit-keyframes anim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  75% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

@keyframes anim {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  75% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0); } }

/* base classes */
.display-inline-block {
  display: inline-block; }

.vertical-middle {
  vertical-align: middle; }

.vertical-top {
  vertical-align: top; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  min-width: 320px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clearfix::after {
  content: " ";
  clear: both;
  display: block; }

.relative {
  position: relative; }

body {
  font-family: "RobotoRegular";
  padding-top: 100px; }

/* base classes */
/* banner section */
.banner-section {
  background-color: #E6E6E6;
  padding: 30px 0;
  z-index: 10; }

.banner-section .banner-img {
  width: 100%; }

.white-logo {
  position: absolute;
  width: 100px;
  right: 30px;
  bottom: 30px; }

.rigth-text-block {
  position: absolute;
  width: 100px;
  left: 30px;
  bottom: 30px; }

/* end banner section */
/* video section */
.video-secttion {
  background-color: #363E97;
  padding-bottom: 90px;
  /* position: sticky; */
  /* top: 94px; */
  /* z-index: 40; */ }

.section-title {
  line-height: 90px;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase; }

.section-title a {
  text-transform: lowercase; }

.video-block {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.video {
  width: 570px;
  height: 320px;
  background-color: #ffffff; }

.video iframe {
  width: 100%;
  height: 100%; }

audio, video {
  width: 100%; }

/* end video section */
/* news section */
.news-section {
  background-color: #BDCCD4;
  padding-bottom: 90px; }

.news-section .section-title {
  color: #3D58A6; }

.article-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.article .article-title {
  line-height: 60px;
  background-color: #E6E6E6;
  padding-left: 15px;
  text-transform: uppercase;
  color: #363E97;
  /* transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 1s; */
  -webkit-transition: 1s color linear, 1s background-color linear;
  -o-transition: 1s color linear, 1s background-color linear;
  transition: 1s color linear, 1s background-color linear; }

.article .article-title:hover {
  color: red;
  background-color: gray; }

.article img {
  display: block; }

.article {
  margin-top: 30px; }

.article:nth-child(1),
.article:nth-child(2),
.article:nth-child(3),
.article:nth-child(4) {
  margin-top: 0; }

/* end news section */
/*  news details section  */
.news-details-section {
  line-height: 90px;
  background-color: #BDCCD4; }

.news-details-section .cat-detial {
  font-size: 24px;
  color: #363E97;
  text-transform: uppercase; }

.news-details-section .cat-detial span {
  margin-left: 5px; }

.news-details-section .cat-detial::after {
  content: "";
  width: 23px;
  height: 13px;
  background-image: url("../img/arrow-right.svg");
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; }

.news-details-section .cat-detial:last-child {
  color: #ffffff; }

.news-details-section .cat-detial:last-child::after {
  display: none; }

.news-details-section .see-next {
  font-size: 22px;
  text-decoration: underline;
  color: #ffffff; }

/*  end news details section  */
/* detail article */
.detail-article-wrapper {
  padding: 30px 0; }

.detail-article-wrapper .date-block {
  /* width: 60px;
    height: 60px; */
  padding: 5px;
  text-align: center;
  border: 3px solid #BDCCD4;
  color: #363E97; }

.detail-article-wrapper .date-block .number {
  font-size: 34px; }

.detail-article-wrapper .date-block .month {
  font-size: 12px; }

.detail-article-wrapper .detail-article-title {
  font-size: 22px;
  text-transform: uppercase;
  color: #363E97;
  margin: 30px auto; }

.detail-article-wrapper .text-box img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.detail-article-wrapper .text-box p {
  margin-bottom: 30px;
  text-indent: 20px;
  font-size: 20px;
  color: #58595B; }

/* detail article */
/*  about  */
.news-details-section.about {
  background-color: #EE4036; }

/* ens about */
/*  uknow section  */
.uknow-section .img-block {
  width: 300px;
  height: 300px;
  border: 1px solid #EE4036;
  background-color: aqua;
  background-image: url("../img/space-x.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.uknow-section .img-block:hover {
  /* width: 500px;
    height: 500px; */
  /* transform: scale(1.5); */
  /* transform: translate(50px,50px); */ }

.uknow-section .item {
  -webkit-animation: 4s anim infinite;
  animation: 4s anim infinite; }

/* ens uknow section */
/* .test{
    position: static;
    position: fixed;
    position: relative;
    position: absolute;
    position: sticky;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
} */
/* overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 64, 54, 0.8);
  top: 0;
  left: -100%;
  z-index: 15;
  padding-top: 100px;
  -webkit-transition: left 0.3s linear;
  -o-transition: left 0.3s linear;
  transition: left 0.3s linear; }

.overlay.active {
  left: 0; }

/* overlay */
.header {
  padding: 30px 0;
  width: 100%;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 20; }
  .header .logo {
    width: 100px; }
  .header .burger-icon {
    width: 40px;
    height: 40px;
    border: 3px solid #363E97;
    margin-left: 15px;
    display: none;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .header .burger-icon .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(0);
      -ms-transform: translate(-50%, -50%) rotate(0);
      transform: translate(-50%, -50%) rotate(0);
      width: 30px;
      height: 3px;
      background-color: #363E97;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
      .header .burger-icon .arrow:nth-child(1) {
        top: 30%; }
      .header .burger-icon .arrow:nth-child(3) {
        top: 70%; }
    .header .burger-icon.active .arrow :nth-child(1) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .header .burger-icon.active .arrow :nth-child(2) {
      left: -150%; }
    .header .burger-icon.active .arrow :nth-child(3) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
  .header .header .right-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .nav-ul {
    text-align: center; }
  .header .nav-a {
    text-transform: uppercase;
    font-size: 24px;
    padding: 0 15px;
    color: #363E97;
    /* color: red; */ }
  .header .header-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .nav-a:hover {
    /* color: blue; */
    opacity: 0.5; }
  .header .social-li a {
    padding: 0 15px;
    border-right-color: #363E97;
    border-right-width: 1px;
    border-right-style: solid; }
  .header .social-li .fb:hover i::before {
    color: gray; }
  .header .social-li a i {
    font-size: 30px; }
  .header .social-li img {
    height: 30px; }
  .header .social-li:last-child a {
    border: 0;
    padding-right: 0; }

@media (max-width: 1170px) {
  .article {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.5%;
    flex: 0 0 24.5%; } }

@media (max-width: 1024px) {
  .header .nav {
    display: none; }
  .header .burger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .article {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%; }
  .article img {
    width: 100%; }
  .article:nth-child(4) {
    margin-top: 30px; }
  .video-secttion {
    display: none; } }

@media (max-width: 1170px) {
  .container {
    padding: 0 15px; } }

@media (max-width: 760px) {
  .article {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%; }
  .article:nth-child(3) {
    margin-top: 30px; } }

@media (max-width: 480px) {
  .header .social-li:not(.search) {
    display: none; }
  .article {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .article:nth-child(2) {
    margin-top: 30px; } }
