// font variables
$Roboto : "Roboto";
// font variables

// animations
$anaimation_time: .3s;
// animations

// colors
$base_white: #fff;
$base_blue: #3D58A6;
$base_gray: #E6E6E6; 
$base_black: #000000;
$article_bg: #BDCCD4;
$feature_aricle_bg: #F2F2F2;
$base_red: #EE4036;
// colors