// colors
$defaultBlueColor:#3D58A6;
// colors
// fontsUlr
$fontsUrl: '../fonts/';
$robotoBold: 'Roboto_bold';
$robotoRegular: 'Roboto_regular';
// fontsUrl

// animations
$animationTime:  .3s;
$animationDiley: .3s;
$animationType: linear;
// animations