// color variables
$default_blue: #363E97;
$default_white: #fff;
$default_black: #000;
// color variables

// font variables
$roboto: 'RobotoRegular';
// font variables

// animations
$animation_time: .3s;
// animations